body
{	
	font-size: 17px;
	color:#000000;
	font-weight:normal;
	font-family: Cuprum, sans-serif;
	width: 1200px;
	margin:0px;
}
.header
{
	width: 1200px;
	background-color:#f1f5f7;
}
.container
{
	width: 940px;
	margin:0px 130px;
	display: float;
	/*border:1px solid black;*/
}
.container:after
{
	content:"";
	display:table;
	width:100%;
}
.top-line
{
	background-color:#293449;
	color:#ffffff;
}
.logo {
	background-color:#ee3643;
	width:220px;
	box-shadow: 0px 5px 0 0 #b52933;
	text-transform: uppercase;
	font-size:24px;
	text-align: center;
	padding:12px 0px;
	float:left;
}
.search
{
	margin:15px 18px;
	width:85px;
	float:left;
	vertical-align:baseline;

}
.search img
{
	padding: 0px 15px 0px 0px;
}
.order {
	background-color:#63a63e;
	padding: 15px 0px 17px 0px;
	text-align: center;
	width: 150px;
	float:right;
}
.tabs img
{
	padding-right:14px;

}
.tabs {
	float:right;
	width:121px;
	margin-right: 45px;
	margin-top:15px;
	margin-bottom:15px;
}
.cart  {
	float:right;
	width:119px;
	margin-right: 30px;
	margin-top:15px;
	margin-bottom:15px;
	
}
.cart img
{
	padding-right:16px;

}

.top-line a
{
	color:#ffffff;
	text-decoration: none;
}

 .desc
{
	color: #ee3643;
	font-style: italic;
	font-size:16px;
	width:195px;
	margin-top:50px;
	margin-left:55px;
	line-height:23px;
	float:left;
	margin-bottom: 48px;
}

.header-tel 
{
	
	float:left;
	width:290px;
	margin-top:45px;	
	margin-left:65px;	
}
.border-white
{
	color: #e9292a;
	font-size:21px;
	text-transform: uppercase;
	border:3px solid #ffffff;
	padding-right:45px;
	padding-top:11px;
	padding-bottom:11px;		
}
.border-white img
{
		padding-left:15px;
		padding-right:40px;
}
 .address 
{
	color: #32425c;
	font-size:14px;
	margin-top:10px;
	text-align:center;
	text-transform: none;
}
.white-btn span
{
	padding-left:15px;
}
.header-tel img
{
	padding-left:15px;
	padding-right:40px;
}

.white-btn 
{
	background-color:#ffffff;
	color:#000000;
	font-size:21px;
	text-decoration: none;
	padding: 15px 25px 15px 25px;
	}
.white-btn:first-child
{
	
	margin-right:10px;
	padding-left:15px;
	
}
.user-block
{
	float:right;
	margin-top:60px;
}
.main-navigation
{
	background-color:#32425c;
	box-shadow:0px 5px 0 0 #293449;
	height:55px;
	width:940px;
	display: flex;
	justify-content: space-around;
	align-items:center;
	margin-bottom: 65px;
}

.main-navigation a
{
	color:#ffffff;
	text-decoration: none;
	font-size: 17px;
}
.blocks-1 
{
	margin-top:60px;
	width:100%;
	font-size:0px;
}
.blocks-2 
{
	margin-top:20px;
	width:100%;
	font-size:0px;
}

.block-name 
{
	font-weight: bold;
	font-size: 24px;
	color:#ffffff;
	left:25px;
	top:25px;
	position:absolute;
}
.block
{
	width:300px;
	height:120px;
	margin-right:20px;
	display:inline-block;
	vertical-align:top;
	position: relative;
}
.img-block
{
	position:absolute;
	top:30px;
	right:35px;
}
.materials
{
	background-color:#f6b22d;
	font-size: 24px;
	
}
.block a
{
	position:absolute;
	color:#ffffff;
	text-decoration: none;
	background-color:rgba(229,229,229,0.1);
	padding:13px 23px;
	text-transform: uppercase;
	font-size: 14px;
	bottom:20px;
	left:25px;
}
.instruments
{
	background-color:#4aafde;
	font-size: 24px;
}
.technics
{
	background-color:#cc79d1;
	margin-right:0px;
	font-size: 24px;
}
.delivery
{
	background-color:#f6b22d;
	font-size: 24px;
	margin-right:0px;
}
.discounts
{
	background-color:#85d179;
	font-size: 24px;
	margin-right:0px;
}

.perforators
{
	margin-right:20px;
	display:inline-block;
	vertical-align:top;
	width:620px;
	height:265px;
	background-color:red;
	background-image:url("img/man.jpg");
}

.popular span
{
	color:#32425c;
	font-size: 30px;
	text-transform: uppercase;
	margin:30px 35px;
	display:inline-block;
}
.popular
{
	background-color:#f1f5f7;
	height:90px;
	width:940px
	font-size: 30px;

.popular .reference-btn
{
	margin-right:25px
	margin-bottom:25px;
	margin-top:25px;
	padding: 15px 55px;
}/*
.reference-btn 
{
	color:#ffffff;
	text-decoration: none;
	background-color:#ee3643;
	padding:5px;
	font-size: 14px;
	text-transform: uppercase;
}

.reference-price 
{
	color:#ffffff;
	text-decoration: none;
	background-color:#ee3643;
	padding:5px;
	font-size: 17px;
	font-family: PTSans Bold, sans-serif;
	text-transform: uppercase;
}
.good-item p
{
	font-family: PTSans Bold, sans-serif;
	font-size: 18pt;
	text-align: center;
	color:#000000;
}
.good-item img
{
	border: 1px solid #e5e5e5;
	width:220px;
	height:315px;
}
.manufacturer-logo img
{
	border: 1px solid #e5e5e5;
	width:220px;
	height:145px;
}
.old-price 
{
	font-family: PTSans Bold, sans-serif;
	font-size: 17pt;
	text-align: center;
	color:#999999;
	text-decoration: line-through;
}
.company-services
{
	height:520px;
	background-color:#f2f6f8;
}
.higher-footer
{
	height:195px;
	background-color:#32425c;
}
.lower-footer
{
	height:105px;
	background-color:#293449;
}
.higher-footer ul
{
	margin:0;
	padding:0;
	list-style:no;	

}
.white-menu a
{
	color:#ffffff;
	text-decoration: none;
	font-size:18pt: 

}
.white-menu li
{
	display:inline-block;
	vertical-align: middle;
}
.white-menu li:first-child {
	background-color:#ee3643;
	width:220px;
	height:42px;
	box-shadow: 0px 5px 0 0 #b52933;
	text-align: center;
	text-transform: uppercase;
	font-size:24pt;
}
.yellow-menu a
{
	color:#ffd180;
	text-decoration: none;
	font-size: 18pt;

}
.yellow-menu li
{
	display:inline-block;
	vertical-align: middle;
}
.higher-footer p
{
	font-size:18pt;
	color:#ffffff;
}
.lower-footer p
{
	font-size:16pt;
	color:#ffffff;
}
.footer-connect a, .footer-copyright a
{
	color:#ffd180;
}
.breadcrumps ul
{
	margin:0;
	padding:0;
	list-style:no;	

}
.breadcrumps li
{
	display:inline-block;

}
.breadcrumps a
{
	color:#000000;
	text-decoration: none;
	font-size:13pt: 
	text-transform:uppercase;
}
*/