body
{	
	font-size: 17px;
	color:#000000;
	font-weight:normal;
	font-family: Cuprum Regular, sans-serif;
	width: 1200px;
	margin:0px;
}
.header
{
	width: 1200px;
	background-color:#f1f5f7;
}
.container
{
	width: 940px;
	margin:0px 130px;
	display: float;
	
}
.container:after
{
	content:"";
	display:table;
	width:100%;
}
.top-line
{
	background-color:#293449;
	color:#ffffff;
}
.logo {
	background-color:#ee3643;
	width:220px;
	box-shadow: 0px 5px 0 0 #b52933;
	text-transform: uppercase;
	font-size:24px;
	text-align: center;
	padding:12px 0px;
	float:left;
}
.search
{
	margin:15px 18px;
	width:85px;
	float:left;
	vertical-align:baseline;

}
.search img
{
	padding: 0px 15px 0px 0px;
}
.order {
	background-color:#63a63e;
	padding: 15px 0px 17px 0px;
	text-align: center;
	width: 150px;
	float:right;
}
.tabs img
{
	padding-right:14px;

}
.tabs {
	float:right;
	width:121px;
	margin-right: 45px;
	margin-top:15px;
	margin-bottom:15px;
}
.cart  {
	float:right;
	width:119px;
	margin-right: 30px;
	margin-top:15px;
	margin-bottom:15px;
	
}
.cart img
{
	padding-right:16px;

}

.top-line a
{
	color:#ffffff;
	text-decoration: none;
}

 .desc
{
	color: #ee3643;
	font-style: italic;
	font-size:16px;
	width:195px;
	margin-top:50px;
	margin-left:55px;
	line-height:23px;
	float:left;
	margin-bottom: 48px;
}

.header-tel 
{
	
	float:left;
	width:290px;
	margin-top:45px;	
	margin-left:65px;	
}
.border-white
{
	color: #e9292a;
	font-size:21px;
	line-height:18px;
	border:3px solid #ffffff;
	padding-right:45px;
	padding-top:11px;
	padding-bottom:11px;		
}
.border-white img
{
		padding-left:15px;
		padding-right:36px;
}
 .address 
{
	color: #32425c;
	font-size:14px;
	margin-top:10px;
	text-align:center;
	text-transform: none;
}
.white-btn span
{
	padding-left:15px;
}

.white-btn 
{
	background-color:#ffffff;
	color:#000000;
	font-size:21px;
	text-decoration: none;
	padding: 15px 25px 15px 25px;
	}
.white-btn:first-child
{
	
	margin-right:10px;
	padding-left:15px;
	
}
.user-block
{
	float:right;
	margin-top:60px;
}
.main-navigation
{
	background-color:#32425c;
	box-shadow:0px 5px 0 0 #293449;
	height:55px;
	width:940px;
	display: flex;
	justify-content: space-around;
	align-items:center;
	margin-bottom: 65px;
}

.main-navigation a
{
	color:#ffffff;
	text-decoration: none;
	font-size: 17px;
}
.blocks-1 
{
	margin-top:40px;
	width:100%;
	font-size:0px;
}
.blocks-2 
{
	
	width:100%;
	font-size:0px;
}

.block-name 
{
	font-weight: bold;
	font-size: 24px;
	color:#ffffff;
	left:25px;
	top:25px;
	position:absolute;
}
.block
{
	margin-top:20px;
	width:300px;
	height:120px;
	margin-right:20px;
	display:inline-block;
	vertical-align:top;
	position: relative;
}
.img-block
{
	position:absolute;
	top:30px;
	right:35px;
}
.materials
{
	background-color:#f6b22d;
	font-size: 24px;
	
}
.block a
{
	position:absolute;
	color:#ffffff;
	text-decoration: none;
	background-color:rgba(229,229,229,0.1);
	padding:13px 23px;
	text-transform: uppercase;
	font-size: 14px;
	bottom:20px;
	left:25px;
}
.instruments
{
	background-color:#4aafde;
	font-size: 24px;
}
.technics
{
	background-color:#cc79d1;
	margin-right:0px;
	font-size: 24px;
}
.delivery
{
	background-color:#f6b22d;
	font-size: 24px;
	margin-right:0px;
	height:125px;
}
.discounts
{
	background-color:#85d179;
	font-size: 24px;
	margin-right:0px;
}

.perforators
{
	margin-right:20px;
	display:inline-block;
	vertical-align:top;
	width:620px;
	height:265px;
	background:
	url("../img/icon-left.png") 25px 115px no-repeat,
	url("../img/icon-right.png") 580px 115px no-repeat,
	url("../img/man.jpg") 0 0 no-repeat;
	margin-top:20px;
	position: relative;
}
.perforators-h1
{
	margin:0px;
	padding-left:26px;
	padding-top:24px;
	font-size:36px;
	text-transform: uppercase;
	color:#ffffff;
	line-height: 30px;
}
.perforators-p
{
	margin:0px;
	padding-left:26px;
	padding-top:13px;
	font-size:18px;
	line-height: 24px;
	font-family: PTSans Bold, sans-serif;
	color:#ffffff;
}
.right-block
{	
	width:300px;
	display:inline-block;
	vertical-align:top;
}
h1
{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	padding:30px 30px;
	padding-bottom:35px;
	margin-top:52px;
	color:#32425c;
}
h2
{
	font-size: 36px;
	line-height: 30px;
	text-transform: uppercase;
	color:#32425c;
}
.about-company h2
{
	color:#000000;
}
.company
{
	background-color:#f2f6f8;
	height:525px; 
	background-image:url("../img/car-big.png");
	background-repeat:no-repeat;
	background-position: 600px 100%;
}
.services
{
	width:400px;
	height:95px;
}
.delivery-service
{
	width:275px;
	height:125px;
}

.company, .contacts, .about-company
{
	font-size: 13px;
	line-height: 24px;
	font-family: PTSans Regular, sans-serif;
	color:#000000;
}
.popular 
{
	background-color:#f1f5f7;
	position:relative;
}

 .reference-btn 
{
	position:absolute;
	color:#ffffff;
	text-decoration: none;
	background-color:#ee3643;
	border-radius: 3px;
	font-size: 14px;
	text-transform: uppercase;
	top:25px;
	right:25px;
}
.goods-btn
{
	padding:13px 55px;
}
.manufacturers-btn
{
	padding:13px 70px;
}
.manufacturers-row
{
	
	width:100%;
	font-size:0px;
}
.manufacturer-logo
{
	width:220px;
	height:145px;
	border: 1px solid #e5e5e5;
	margin-right:16px;
	display:inline-block;
	vertical-align:top;
	position:relative;
	margin-top:20px;

}
.manufacturer-logo img
{
	 margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.manufacturer-logo:nth-child(4n)
{	
	margin-right:0px;
}
.goods-items-row
{
	
	width:100%;
	font-size:0px;
}
.good-item
{
	width:220px;
	height:315px;
	border: 1px solid #e5e5e5;
	margin-right:16px;
	display:inline-block;
	position: relative;
	vertical-align:top;
	margin-top:20px;
}

 .good-item:nth-child(4n)
{	
	margin-right:0px;
}
.good-item img
{
	border:0px;
	 margin:0 auto;
	 width:220px;
	 height:145px;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.item-name
{
	margin-top:180px;
	font-family: PTSans Bold, sans-serif;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	color:#000000;
	padding:0px;
}
.old-price 
{
	font-family: PTSans Bold, sans-serif;
	margin-top:18px;
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	color:#999999;
	text-decoration: line-through;
	text-transform: uppercase;
}
.reference-price 
{
	color:#ffffff;
	text-decoration: none;
	background-color:#ee3643;
	padding:13px 24px 13px 45px;
	line-height: 18px;
	font-size: 17px;
	font-family: PTSans Bold, sans-serif;
	text-transform: uppercase;
	bottom:12px;
	position: absolute;
	left:43px;
}


.higher-footer
{
	height:195px;
	background-color:#32425c;
	font-size:18px;
	line-height:24px;
}
.lower-footer
{
	height:105px;
	background-color:#293449;
	font-size:16px;
	line-height:18px;
	color:#ffffff;
}
.logo-footer {
	background-color:#ee3643;
	width:220px;

	box-shadow: 0px 5px 0 0 #b52933;
	text-transform: uppercase;
	font-size:30px;
	line-height: 30px;
	text-align: center;
	padding:20px 0px;
	float:left;
	color:#ffffff;
}
.first-line-footer, .second-line-footer
{
	height:70px;
}
.second-line-footer
{
	margin-top:35px;
}
.white-menu a
{
	color:#ffffff;
	text-decoration: none;
}
.white-menu
{
	width:540px;
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding-top: 40px;
	float:right;
}

.address-footer 
{
	width:350px;
	float:left;
	color:#ffffff;
	
}
.yellow-menu a
{
	color:#ffd180;
	text-decoration: none;
}
.yellow-menu 
{
	width:525px;
	display: flex;
	justify-content: space-between;
	align-items:center;
	float:right;
	
}
.footer-technomart
{
	width:275px;
	color:#ffffff;
	float:left;
	padding-top:40px;
}
.footer-connect
{
	margin-left:120px;
	float:left;
	padding-top:40px;
	width:140px;
}

.footer-copyright
{
	margin-left:50px;
	float:left;
	padding-top:40px;
	width:150px;
}
.lower-footer a
{
	color:#ffd180;
	text-decoration: none;
}

.icon {
   margin-left:6px;
    width: 40px;
    height: 40px;
    
    background: #212a3a;
    float:left;
    margin-top:35px;
     
}
.vk
{
	background-image: url("../img/icon-vk.png");
    background-repeat: no-repeat;
	border-radius: 50%;
	background-position: center;
	margin-left:70px;
}
.facebook
{
	
	background-image: url("../img/icon-facebook.png");
    background-repeat: no-repeat;
	border-radius: 50%;
	background-position: center;
	
}

.instagram
{
	
	background-image: url("../img/icon-instagram.png");
    background-repeat: no-repeat;
	border-radius: 50%;
	background-position: center;
}

/*



.breadcrumps li
{
	display:inline-block;

}
.breadcrumps a
{
	color:#000000;
	text-decoration: none;
	font-size:13pt: 
	text-transform:uppercase;
}
*/
/*


.company-services
{
	height:520px;
	background-color:#f2f6f8;
}
*/
.new{
	position: absolute;
	right:0px;
	background-image:url("../img/new-flag.png");
	width:60px;
	height: 59px;
	background-repeat: no-repeat;
}
.perforators-btn
{
	padding:13px 45px 13px 50px;
	position:absolute;
	top: 200px;
	left:25px;
	color:#ffffff;
	text-decoration: none;
	background-color:#ee3643;
	border-radius: 3px;
	font-size: 14px;
	text-transform: uppercase;
}
.reference-price::after {
    content: "";
    position: absolute;
    top: 0px;
    right: -22px;
    border: 22px solid #ffffff;
    border-right-width: 0;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #ee3643;
}
.company-desc
{
	
	float:left;
	width:550px;
	margin-top:80px;
}
.contacts
{
	
	float:right;
	width:300px;
	margin-top:80px;
}

 .more-btn 
{
	color:#ffffff;
	text-decoration: none;
	background-color:#ee3643;
	border-radius: 3px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	padding:14px 40px;
	float: left;
	margin-top:39px;
}
 .map-btn 
{
	color:#ffffff;
	text-decoration: none;
	background-color:#ee3643;
	border-radius: 3px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	padding:14px 34px;
	float:right;
}
.map
{
	width:300px;
	height:160px;
	margin: 20px 0px 40px 0px;
	float:right;
}
.about-company h2
{

	font-size: 30px;
	line-height: 24px;
	text-transform: uppercase;
	color:#000000;

}
.contacts p, .company-desc p, .p
{

	font-size: 13px;
	line-height: 24px;
	color:#000000;

}
.transport-list
{
	margin-bottom:40px;
	font-size: 18px;
	line-height: 25px;
	list-style: none;

}
.transport-list li:before 
{
	content: "\2014";
	color:#fb565a;
} 
footer
{
	margin-top:85px;
}
.services h2
{
	font-size: 30px;
	line-height: 24px;
	text-transform: uppercase;
	color:#000000;
	padding-top:70px;
}
.delivery-service h2
{
	font-size: 36px;
	line-height: 24px;
	text-transform: uppercase;
	color:#32425c;
}
.services p, .delivery-service p
{
	font-size: 13px;
	line-height: 24px;
	font-family: PTSans Regular, sans-serif;
	color:#000000;
}

.services
{
	width:100%;
}
.delivery-service
{
	width:300px;
	float:left;
	margin-top: 145px;
	margin-left: 80px;
}
.services-list ul
{
	list-style: none;
	float:left;
	margin-left: -40px;
	margin-top: 145px;
}
.car-shadow 
{
	float:right;
	width:150px;
	height:250px;
	margin-top:145px;
}
.shadow 
{
	float:left;
	margin-left: -9px;
	margin-top:100px;
}
.services-list li
{
	font-size: 21px;
	line-height: 30px;
	background-color: #32425c;
	color:#ffffff;
	border-bottom:1px solid #293449;
	border-top:1px solid #405069;
	width:220px;
	padding: 23px;
}
.services-list li:first-child
{
	background-color: #ffffff;
	color:#32425c;
	font-size: 21px;
	line-height: 30px;
	border-bottom:none;
	border-top:none;
}